{% extends 'admin_auth/base.html' %}
{% block content %}
{% load static %}


<div class="container">
    <h1>Создать Аккаунт</h1>

  <form method="POST" action="{% url 'signup' %}">
      {% csrf_token %}

              <div class="mb-3">
                  <label for="username" class="form-label mb-2">Имя пользователя</label>
                  <input type="text" class="form-control custom-input-width" id="username" name="username">
              </div>
      <div class="mb-3">
                  <label for="email" class="form-label mb-2">E-Mail</label>
                  <input type="text" class="form-control custom-input-width" id="email" name="email">
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label mb-2">Пароль</label>
                <input type="password" class="form-control custom-input-width" id="password1" name="password1">
                <div id="password-error-message" class="text-danger"></div>
                </div>
              <div class="mb-3">
                <label for="password2" class="form-label mb-2">Повторить Пароль</label>
                <input type="password" class="form-control custom-input-width" id="password2" name="password2">
            </div>
              <button type="submit" class="btn btn-primary">Создать Аккаунт</button>
          </form>
  </div>
        <script src="{% static 'vending_app/js/validation.js' %}"></script>

{% endblock %}